---
import imgProject2 from "../assets/project-1-image.webp";
import Project from "./Project.astro";
import { getMessages } from "../i18n";

const locale = Astro.currentLocale ?? "en";
const t = getMessages(locale);

const images = [imgProject2];
---

<section class="space-y-15">
  {
    t.projects.items.map((proj, index) => (
      <Project
        ProjectTitle={proj.name}
        ProjectSubtitle={proj.subtitle}
        ProjectDescription={proj.description}
        ProjectImage={images[index]}
        ProjectTools={proj.tags}
        ProjectButton={proj.button}
        SeeMoreLink={proj.link}
        ProjectRow={index % 2 === 0 ? "md:flex-row" : "md:flex-row-reverse"}
      />
    ))
  }
</section>
