---
import imgProject1 from "../assets/project-1-image.webp";
import imgProject2 from "../assets/pioneiros-site.webp"
import Project from "./Project.astro";

const projectList = [
  {
    title: "Pioneiros Landing Page",
    subtitle: "Landing page developed for a client in the veterinary healthcare sector.",
    description:
      "Responsive landing page, focusing on layout, accessibility, performance and conversion.",
    tools: ["ReactJS", "NextJS", "TailwindCSS"],
    image: imgProject2,
    seeMoreLink:
      "https://pioneiros-site.vercel.app/",
  },
  {
    title: "UI Design - BitPDV",
    subtitle: "New screens for an ERP",
    description:
      "UI project for an ERP system, specifically for the point of sale and some of its functions.",
    tools: ["Figma", "Adobe Photoshop", "UI/UX"],
    image: imgProject1,
    seeMoreLink:
      "https://drive.google.com/file/d/1iypcRx72r7b0vFUmz5mf8wAJplISrBjX/view",
  },
];
---

<section class="space-y-15">
  {
    projectList.map((proj, index) => (
      <Project
        ProjectTitle={proj.title}
        ProjectSubtitle={proj.subtitle}
        ProjectDescription={proj.description}
        ProjectImage={proj.image}
        ProjectTools={proj.tools}
        SeeMoreLink={proj.seeMoreLink}
        ProjectRow={index % 2 === 0 ? "md:flex-row" : "md:flex-row-reverse"}
      />
    ))
  }
</section>
