---
import "../../../src/styles/global.css";
import headerLogoImg from "../../assets/header-logo.webp";
import kaueWeberImg from "../../assets/kaue-weber-image.webp";
import ProjectsSection from "../../components/ProjectSection.astro";
import ToolsSection from "../../components/ToolsSection.astro";
import ContactForm from "../../components/ContactForm.astro";
import Image from "astro/components/Image.astro";
import LanguagePicker from "../../components/LanguagePicker.astro";
import { getMessages } from "../../i18n";

const locale = Astro.currentLocale ?? "en";
const t = getMessages(locale);
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/kh-icon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kauê Weber</title>
  </head>
  <body
    class="bg-primary-white text-primary-black dark:bg-primary-black dark:text-primary-white"
  >
    <main class="md:w-2xl mx-5 md:mx-auto">
      <section
        id="home"
        class="flex flex-col md:flex-row justify-between py-12.5 gap-5"
      >
        <div class="flex flex-col gap-6">
          <Image
            src={headerLogoImg}
            class="w-25 h-12.25 in-dark:invert"
            alt=""
            loading="eager"
          />

          <ul class="flex dark:font-light text-sm mr-2">
            <li>{t.header.role}</li>
          </ul>

          <p class="max-w-75">
            {t.header.intro}
          </p>

          <ul class="flex dark:font-light text-sm gap-3">
            <li>
              <a
                href="https://github.com/kauehenrick"
                class="flex items-center gap-1.5"
                target="blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
                  >
                  </path>
                </svg>

                <p>Github</p>
              </a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/in/kaueweber/"
                class="flex items-center gap-1.5"
                target="blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"
                  >
                  </path>
                </svg>

                <p>LinkedIn</p>
              </a>
            </li>
          </ul>
        </div>

        <Image
          src={kaueWeberImg}
          class="md:w-62 rounded-b md:rounded-r"
          alt=""
          loading="eager"
        />
      </section>

      <section class="pb-15" id="skills">
        <p class="text-2-5xl mb-6">{t.skills.title}</p>

        <ul class="flex flex-col gap-3 text-lg">
          {
            t.skills.items.map((skill) => (
              <li>
                <p class="mb-2.5">{skill}</p>
                <hr />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="pb-15" id="tools">
        <p class="text-2-5xl mb-6">{t.tools.title}</p>

        <ToolsSection />
      </section>

      <section class="pb-15" id="projects">
        <p class="text-2-5xl mb-6">{t.projects.title}</p>

        <ProjectsSection />
      </section>

      <section
        class="flex flex-col md:flex-row pb-12.5 gap-10 md:gap-20"
        id="contact"
      >
        <div class="flex flex-col gap-6">
          <h2 class="text-2-5xl md:max-w-52">
            <p class="text-2-5xl">{t.contact.title}</p>
          </h2>

          <p>
            {t.contact.text}
            <br />{" "}
            {t.contact.text2}
          </p>

          <ul class="flex flex-col gap-4">
            <li class="flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 256 256"
                ><path
                  d="M222.37,158.46l-47.11-21.11-.13-.06a16,16,0,0,0-15.17,1.4,8.12,8.12,0,0,0-.75.56L134.87,160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16,16,0,0,0,1.32-15.06l0-.12L97.54,33.64a16,16,0,0,0-16.62-9.52A56.26,56.26,0,0,0,32,80c0,79.4,64.6,144,144,144a56.26,56.26,0,0,0,55.88-48.92A16,16,0,0,0,222.37,158.46ZM176,208A128.14,128.14,0,0,1,48,80,40.2,40.2,0,0,1,82.87,40a.61.61,0,0,0,0,.12l21,47L83.2,111.86a6.13,6.13,0,0,0-.57.77,16,16,0,0,0-1,15.7c9.06,18.53,27.73,37.06,46.46,46.11a16,16,0,0,0,15.75-1.14,8.44,8.44,0,0,0,.74-.56L168.89,152l47,21.05h0s.08,0,.11,0A40.21,40.21,0,0,1,176,208Z"
                ></path></svg
              >
              <p class="dark:font-light text-sm">+55 (77) 9 9119-9961</p>
            </li>

            <li class="flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 256 256"
                ><path
                  d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"
                ></path></svg
              >
              <p class="dark:font-light text-sm">kauehenrick@proton.me</p>
            </li>
          </ul>
        </div>

        <ContactForm />
      </section>
    </main>

    <footer
      class="dark:bg-secondary-black flex items-center justify-between px-6 h-12.5 xl:px-120 border-y-[0.1px] border-primary-gray"
    >
      <p class="dark:font-light text-xs">© 2026 Kauê Weber.</p>

      <div class="flex items-center gap-10">
        <LanguagePicker />

        <button id="theme-toggle" class="cursor-pointer">
          <svg
            id="icon-sun"
            class="hidden dark:inline"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M120,40V16a8,8,0,0,1,16,0V40a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-16-16A8,8,0,0,0,42.34,53.66Zm0,116.68-16,16a8,8,0,0,0,11.32,11.32l16-16a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l16-16a8,8,0,0,0-11.32-11.32l-16,16A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32-11.32ZM48,128a8,8,0,0,0-8-8H16a8,8,0,0,0,0,16H40A8,8,0,0,0,48,128Zm80,80a8,8,0,0,0-8,8v24a8,8,0,0,0,16,0V216A8,8,0,0,0,128,208Zm112-88H216a8,8,0,0,0,0,16h24a8,8,0,0,0,0-16Z"
            ></path></svg
          >
          <svg
            id="icon-moon"
            class="dark:hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M233.54,142.23a8,8,0,0,0-8-2,88.08,88.08,0,0,1-109.8-109.8,8,8,0,0,0-10-10,104.84,104.84,0,0,0-52.91,37A104,104,0,0,0,136,224a103.09,103.09,0,0,0,62.52-20.88,104.84,104.84,0,0,0,37-52.91A8,8,0,0,0,233.54,142.23ZM188.9,190.34A88,88,0,0,1,65.66,67.11a89,89,0,0,1,31.4-26A106,106,0,0,0,96,56,104.11,104.11,0,0,0,200,160a106,106,0,0,0,14.92-1.06A89,89,0,0,1,188.9,190.34Z"
            ></path></svg
          >
        </button>

        <ul class="flex items-center gap-1.5">
          <li>
            <a href="https://github.com/kauehenrick" target="blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
                >
                </path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kaueweber/" target="blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"
                >
                </path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
  <script>
    const root = document.documentElement;
    const toggle = document.getElementById("theme-toggle");
    const sun = document.getElementById("icon-sun");
    const moon = document.getElementById("icon-moon");

    const getInitialTheme = () => {
      const saved = localStorage.getItem("theme");
      if (saved) return saved;

      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    };

    const applyTheme = (theme: string) => {
      root.classList.remove("light", "dark");
      root.classList.add(theme);
      localStorage.setItem("theme", theme);
      sun.hidden = theme !== "dark";
      moon.hidden = theme === "dark";
    };

    let theme = getInitialTheme();
    applyTheme(theme);

    toggle.addEventListener("click", () => {
      theme = theme === "dark" ? "light" : "dark";
      applyTheme(theme);
    });
  </script>
</html>
